/*reset css*/
* {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    color:#d58000;
}
html {
	font-size: 12px;
	font-family: Helvetica;
}
body{
    font-size: 1.6em;
    text-align:center;
    background: url(../images/bg-grid.png) repeat scroll 0 0 transparent;
    background-color: rgb(204,204,204) ;
}
/*reset css end*/
.site {
	min-height: 500px;
}
.main {
	clear: both;
}
.panel,.hide,.slide,.pull-me{
	margin:0 auto;
    padding:0;
	width:200px;
    text-align:center;
}
.pull-me{
    float:center;
    cursor:pointer;
}
.panel {
	background: #ffffbd;
    padding-top: 25px;
    height:100px;
	display:none;
	border-radius: 0 0 10px 10px;
}
.panel p{
    text-align:center;
}
/*.slide {
	margin:0;
	padding:0;
}*/
.pull-me {
    width:150px;
    height:20px;
    font-size:14px;
	color:#ffffff;
    background:#cc0000;
	text-decoration:none;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.slide  {
    text-align:center;
    margin-bottom:40px;
}
section.site,section.main, section.share{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
section.share, section.main{
	width: 100%;
}
/*header {
	width: 60%;
	height: 10%;
	margin: 20px auto;
	font-size: 4em;
	text-align: center;
	color:red;
}*/
/*table{
	padding:10px;
}*/
p:nth-child(2){
	font-family: Verdana, sans-serif;
}
p:nth-child(3){
	font-family: cursive;
	color:#cc0000;
}
p:nth-child(4){
	color:red;
}
/*clearfix*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { 
	display: inline-block;
	height: 40%;
 }
/* Hides from IE-mac \*/
 html .clearfix { height: 100%; }
.clearfix { display: block; }
/* End hide from IE-mac */
/*clearfix*/
a{
	text-decoration: none;
}
a:hover{
	color: green;
}
.share a{
	display: inline-block;
	background-image: url("../images/share.png");
	background-size: 75px 150px;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	margin-left: 5px;
}
#douban {
	background-position: -50px -70px;
}

#qqzone {
	background-position: 0 -70px;
}
#weibo {
	background-position: -25px -100px;
}
span.title1 , span.title2{
	font-family: 黑体;
	color:green;
	/*background-color: gray;*/
	/*border:15px solid transparent;*/
	font-size: 1.6em;
} 
.hide span{
	text-shadow:0 0 2px green;
	color: blue;
	font-size: 24px;
}
/*border-image*/
ul{
	border:15px solid transparent;
	-moz-border-image:url(../images/border.png) 30 30 round;	/* Old Firefox */
	-webkit-border-image:url(../images/border.png) 30 30 round;	/* Safari and Chrome */
	-o-border-image:url(../images/border.png) 30 30 round;		/* Opera */
	border-image:url(../images/border.png) 30 30 round;
}
/*table{
	border:15px solid transparent;
	border-image:url(../images/border.png) 30 30 stretch;
	-moz-border-image:url(../images/border.png) 30 30 stretch;	 Old Firefox 
	-webkit-border-image:url(../images/border.png) 30 30 stretch;	/* Safari and Chrome */
	/*(-o-border-image:url(../images/border.png) 30 30 stretch )	/* Opera */
/*}*/
tbody tr td{padding:5px 10px 5px 0;}
tbody tr td a{text-decoration: underline;}
#left,#right{
	background-color:#FFF;
	opacity: 0.85;
	display: inline-block;
	width: 35%;
	text-align:left;
	color: #d58000;
	border-radius: 20px;
	padding:  20px;
	border: 12px dotted rgb(204,204,204);
	float: left;
	margin:  2%;
	position: relative;
	overflow: hidden;
	background: url(../images/diagonal-bg.png) repeat scroll 0 0 transparent;
}
#right{width:30%;height:240px; background-color: lightgreen}
#right table{margin-top: 30px}
#left ol {
	padding-left: 0px;
}
.title1,.title2{
	padding: 0;
}
footer{
	width:300px;
	margin:0 auto;
	text-align: center;
	color: #d58000;
}
.footer p{
	margin-bottom: 0!important;
}
/*标签切换*/
ol li{
	display: inline-block;
	width: 30%;
	text-align: center;
	cursor: pointer;
	border-bottom:5px solid #ccc; 
}
ol li:first-child{border-bottom:none;}
ul{display: none;}
/*动画*/
span#ani{
	color: #000;
	background:red;
	position:relative;
	animation:myfirst 5s infinite;
	-moz-animation:myfirst 5s infinite; /* Firefox */
	-webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
	-o-animation:myfirst 5s infinite; /* Opera */
}

@keyframes myfirst
{
0%   {background:red; left:0;}
25%  {background:yellow; left:100px;}
50%  {background:blue; left:200px; }
75%  {background:green; left:100px; }
100% {background:red; left:0;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:red; left:0;}
25%  {background:yellow; left:100px;}
50%  {background:blue; left:200px; }
75%  {background:green; left:100px; }
100% {background:red; left:0;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:red; left:0;}
25%  {background:yellow; left:100px;}
50%  {background:blue; left:200px; }
75%  {background:green; left:100px; }
100% {background:red; left:0;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {background:red; left:0;}
25%  {background:yellow; left:100px;}
50%  {background:blue; left:200px; }
75%  {background:green; left:100px; }
100% {background:red; left:0;}
}

/*增加右盒子动画*/
table:before,
table:after {
	position: absolute;
	top: 55%;
	left: 80%;
	width: 38%;
	height: 2px;
	background: blue;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

#right:hover table:before {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

#right:hover table:after {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
	transform: translate3d(-50%,-50%,0) rotate(-42deg);
}

iframe{position: absolute;bottom: 0;right: 0;opacity: 0.85;}

/*响应式适配。。。*/
@media (max-width: 760px) {
  html {
  	font-size: 0.8em;
  	width:100%;
  	margin: 0 auto;
  }
  #right,#left{
  	border:none;
  	border-radius: 0;
	display: block;
	clear: both;
	float: left;
  	width: 100%;
  	opacity: 1;
  	margin: 0;
  	text-align: left;
  }
  #left ul{
  	list-style: none;
  	padding-left: 30px
  }
  #right{background-color: white;text-align: center;}
  #right table{
  	width:110%;
  	margin: 30px auto;
  }
  table:before,table:after{display: none;}
  .clearfix{
  	position: relative;
  }
  tbody tr td{
  	padding: 0;
  	padding-bottom: 3%;	
  }
  ul{
	padding-left: 0;
  }
  .footer{
  	position: relative;
  	left:0;
  	background-color: #272822;
  	margin: 0 auto;
  }
  .slide{
  	background-color: #FDF5E6;
  	width: 100%;
  	margin: 0;
  	height: 2%;
  }
}
/*响应式适配结束*/
/*codecademy图片区*/
#codeImg{
    position: absolute;
    top:310px;
    left:40%;
    border: 2px solid rgb(133,153,133);
    padding-top:5px;
    z-index: 9999;
    background-color: #fff;
    display: none;
}
#codeImg p{
    position: relative;  
}
.span1{
    position: absolute;
    top:-20px;
    left:240px;
    color: rgb(133,153,133);
}
.span2{
    position: absolute;
    top:-17px;
    left:240px;
    color:#fff;
}