<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <title>Shopping Cart</title>
    <script src="Angular_Boot.js"></script>
    <!-- <script src="http://cdn.bootcss.com/angular.js/1.3.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script> -->
    <style>
        .menu-disabled-true{
            color:red;
        }
        .error{background-color: red}
        .warning{background-color: yellow}
        .selected{background-color: lightgreen}
    </style>
</head>
<body ng-app="myCart">
    <h1>AngularJs的一些实践</h1>
    <div ng-controller="CartController">
        <table>
            <tr ng-repeat="item in items">
                <td>{{item.title}}</td>
                <td><input ng-model="item.quantity"/></td>
                <td>{{item.price|currency}}</td>
                <td>{{item.price*item.quantity|currency}}</td>
                <td><button ng-click="remove($index)">Remove</button></td>
            </tr>
        </table>
        <div>Total: {{totalCart() | currency}}</div>
        <div>Discount: {{bill.discount | currency}}</div>
        <div>Subtotal: {{subtotal() | currency}}</div>
    </div>
    <form ng-controller="FormController">
        <input type="checkbox" ng-model="uCheckedIt" />通过模型数据uCheckedIt到布尔值的映射控制勾选状态
    </form>
    <form ng-controller="StartUpController">
        Starting: <input ng-model="funding.startingEstimate"> <!-- ng-change="computeNeeded()"有了watch函数(可选参数true深度观察)可删除 -->
        Recommendation: {{needed}}
        <button ng-click="requestFunding()">Fund my startup!</button>
        <button ng-click="reset()">Reset</button>
    </form>
    <h2>通过修改数据模型的方式来驱动UI刷新，然后通过指令把变更反应到UI上</h2>
    <div ng-controller='DeathrayMenuController'>
        <button ng-click='toggleMenu()'>Toggle Menu</button>
        <ul ng-show='menuState'>
            <li class='menu-disabled-{{isDisabled}}' ng-click='stun()'>Stun(点击变色，拼接类名实现)</li>
            <li ng-click='disintegrate()'>Disintegrate</li>
            <li ng-click='erase()'>Erase from history</li>
        </ul>
    </div>
    <h3>angular控制样式的三种方式：用字符串表示类名，用空格分隔；CSS类名数组；控制类命名的布尔值映射</h3>
    <div ng-controller='HeaderController'>
        <div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
        <button ng-click='showError()'>Simulate Error</button>
        <button ng-click='showWarning()'>Simulate Warning</button>
    </div>
    <h3>高亮显示所选行<i>??：Please do code review.</i></h3>
    <table ng-controller='RestaurantTableController'>
        <tr ng-repeat='restaurant in directory' ng-lick='selectRestaurant($index)'ng-class='{selected: $index==selectedRow}'>
            <td>{{restaurant.name}}-----</td>
            <td>{{restaurant.cuisine}}</td>
        </tr>
    </table>
    <h3>控制器的职责:</h3>
    <ul>
        <li>为应用中的模型设置初始状态</li>
        <li>通过$scope对象把数据模型和函数暴露给视图（UI模板）</li>
        <li>监视模型其余部分的变化，并采取相应的动作</li>
        <i>注：controller可嵌套，子控制器沿作用域链访问父控制器</i>
    </ul>
    <p>2014.2.5:明天继续</p>
    <script>
        var myAppModule = angular.module("myCart",[]);
        myAppModule.controller("CartController",
        function CartController($scope){
            $scope.items = [{ title : 'Paint pots', quantity : 8, price : 3.95 }, 
                            { title : 'Polka dots', quantity : 17, price : 12.95 }, 
                            { title : 'Pebbles', quantity : 5,price : 6.95}];
            $scope.remove = function(index){
                $scope.items.splice(index, 1);
            };
            $scope.bill={};
            $scope.totalCart = function() {
                var total = 0;
                for (var i = 0, len = $scope.items.length; i < len; i++) {
                    total = total + $scope.items[i].price * $scope.items[i].quantity;
                }
                return total;
            }
            $scope.subtotal = function() {
                return $scope.totalCart() - $scope.discount;
            };
            function calculateDiscount(newValue, oldValue, scope{
            $scope.bill.discount = newValue > 100 ? 10 : 0;
            }
            $scope.$watch($scope.totalCart, calculateDiscount);
        });
        myAppModule.controller("FormController",
            function($scope){
                $scope.uCheckedIt=true;
                console.log($scope.uCheckedIt);
            }
        );
        myAppModule.controller("StartUpController",
            function StartUpController($scope) {
                $scope.funding = { startingEstimate: 0 };
                console.log($scope.funding);
                $scope.computeNeeded = function() {
                    $scope.needed = $scope.funding.startingEstimate * 10;
                };
                $scope.$watch('funding.startingEstimate',$scope.computeNeeded);
                $scope.requestFunding = function(){
                    if($scope.needed<1000000){
                        window.alert("Sorry, please get more customers first.");
                    }else{
                        alert("Come on! Your money is enough to startup!")
                    }
                };
                $scope.reset=function() {
                    $scope.funding.startingEstimate = 0;
                };
            }
        );
        myAppModule.controller("DeathrayMenuController",
            function($scope){
                $scope.menuState = false;
                $scope.toggleMenu = function(){
                    $scope.menuState = !$scope.menuState;
                };
                $scope.isDisabled = false;
                $scope.stun = function(){
                    $scope.isDisabled = "true";
                }
            }
        );
        myAppModule.controller("HeaderController",
            function($scope){
                $scope.isError = false;
                $scope.isWarning = false;
                $scope.showError = function(){
                    $scope.messageText = 'This is an error!';
                    $scope.isError = true;
                    $scope.isWarning = false;
                };
                $scope.showWarning = function(){
                    $scope.messageText = 'Just a warning. Please carry on.';
                    $scope.isWarning = true;
                    $scope.isError = false;
                };
            }
        );
        myAppModule.controller("RestaurantTableController",
            function($scope){
                $scope.directory=[{name:'The Handsome Heifer', cuisine:'BBQ'},{name:'Greens Green Greens', cuisine:'Salads'},{name:'House of Fine Fish', cuisine:'Seafood'}];
                $scope.selectRestaurant = function(index) {
                    $scope.selectedRow = index;
                };
            }
        );
    </script>


</body>
</html>