/*reset css*/
* {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}



html {
	font-size: 10px;
	background-color: #FDF5E6;
	font-family: Helvetica;
	background-image:url("../images/bg.jpg");
    background-position: center center;  /* IE 6/7/8 */
    background-repeat:repeat;
    background-attachment: fixed;
}

body{
    font-size: 1.6em;
    text-align:center;
}
/*reset css end*/

.site {

}

.main {
	clear: both;
}

.panel,.hide,.slide,.pull-me{
	margin:0 auto;
    padding:0;
	width:200px;
    text-align:center;
}
.pull-me{
    float:center;
    cursor:pointer;
}
.panel {
	background: #ffffbd;
    padding-top: 69px;
    height:150px;
	display:none;
}
.panel p{
    text-align:center;
}
.slide {
	margin:0;
	padding:0;
}
.pull-me {
	display:block;
    position:relative;
    width:150px;
    height:20px;
    font-size:14px;
	color:#ffffff;
    background:#cc0000;
	text-decoration:none;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.pull-me p {
    text-align:center;
}

section.site,section.main, section.share{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

section.share, section.main{
	width: 100%;
}

header {
	width: 60%;
	height: 10%;
	margin: 20px auto;
	font-size: 4em;
	text-align: center;
	color:red;
}
table{
	padding:10%;
}

p:nth-child(2){
	font-family: Verdana, sans-serif;
}

p:nth-child(3){
	font-family: cursive;
	color:#cc0000;
}
p:nth-child(4){
	color:red;
}
/*clearfix*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { 
	display: inline-block;
	height: 40%;
 }
/* Hides from IE-mac \*/
 html .clearfix { height: 100%; }
.clearfix { display: block; }
/* End hide from IE-mac */
/*clearfix*/
a{
	text-decoration: none;
}
a:hover{
	color: green;
}
.share a{
	display: inline-block;
	background-image: url("../images/share.png");
	background-size: 75px 150px;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	margin-left: 5px;
}

#douban {
	background-position: -50px -70px;
}

#qqzone {
	background-position: 0 -70px;
}

#weibo {
	background-position: -25px -100px;
}

/*响应式适配。。。*/
@media (max-width: 760px) {
  html {
  	font-size: 3px;
  }
  #left,#right{
	
	width: :100%;
	display: block;
	clear: both;
	
  }
  .clearfix{
  	padding-left: 32%;	
  }

  
   ul{
	padding-left: 0;
	}

}
/*响应式适配结束*/


span.title1 , span.title2{
	font-family: 黑体;
	color:green;
	background-color: gray;
	font-size: 24px;
} 
.hide span{
	text-shadow:0 0 2px green;
	color: blue;
	font-size: 24px;
}

#left,#right{
	background-color: #FDF5E6;
	opacity: 0.85;
	display: inline-block;
	width: 40%;
	text-align:left;
	color: #d58000;
	border-radius: 15px;
	padding:  20px;
	border: 1px solid #913030;
	float: left;
	margin: 0 5%;
}
#left ol {
	padding-left: 20px;
}

.title1,.title2{
	padding: 0;

}

.footer{
	display:block;
    position:absolute;
	/*margin-top: 50px;*/
	padding-left: 40%;
	bottom: 1px;
	color:#d58000;

}
